$color-accent: #0086ad;

$color-logo: #000000;
$color-logo-footer: #111111;

$color-ttl: #005582;
$color-text: #333333;
$color-text-thin: #707070;
$color-text-info: #2d2d2d;
$color-white: #fff;

$color-bg-footer: #f7f7f7;
$color-bg-client: #2d2d2d;

$color-footer-line: #dddddd;
