.blog {
  padding: 101px 0 120px;
  @include mq(sp) {
    padding: 90px 0;
  }
  .ttl-jp {
    margin-bottom: 52px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @include mq(sp) {
      display: block;
      font-size: 14px;
    }
  }
  &-item {
    width: per(352, 1120);
    @include mq(sp) {
      width: 100%;
      margin-bottom: 70px;
    }
    a {
      width: 100%;
      &:hover {
        img {
          transform: translateY(-50%) scale(1.2);
        }
      }
    }
  }
  &-pic {
    position: relative;
    padding-top: per(211, 352);
    margin-bottom: 22px;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
  }
  &-txt {
    line-height: division(24, 16);
    margin-top: 10px;
  }
}
