.header {
  padding-left: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @include mq(tab) {
    height: 100px;
    padding-left: 20px;
  }
  &-logo {
    font-size: 32px;
    letter-spacing: 0.04em;
    font-family: toppan-bunkyu-mincho-pr6n, serif;
    color: $color-logo;
    @include mq(sp) {
      font-size: 20px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 55.38px;
        margin-right: 8.5px;
        @include mq(sp) {
          width: 40px;
        }
      }
    }
  }
}
