.spsubnav {
  display: none;
  margin-top: 20px;
  @include mq(tab) {
    display: block;
  }
  &-item {
    margin-bottom: 20px;
    margin-left: 20px;
    a {
      color: $color-white;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 2px;
        background: $color-white;
        position: absolute;
        top: 50%;
        left: -20px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color-white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
      }
      &:hover::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}
